<div class="flex flex-col max-w-2xl mx-auto px-4 items-center">
    <h2 class="text-xl text-center text-black w-[20vw] p-4 font-semibold mb-25 bg-cyan-200">People around you</h2>
    <div class="space-y-3 w-[40vw]"><%= render @users %></div>
</div>