
<%= form_with model: post do |form|%>
    <div class="flex border border-gray-300 rounded-md p-2 relative">
        <%= form.label :body, class: "sr-only"%>
        <%= form.text_area :body, class: "border-none w-[30vw] h-30 resize-none focus:outline-none", placeholder: "what's on your mind", autofocus: true%>
        <%= form.submit  class: "bg-blue-500 text-white p-2 h-10 rounded-md absolute bottom-3 right-3"%>
    </div>
<% end %>